p {
    color: black;
    font-size: 20px;
    line-height: 47px;
    white-space: normal;
}

a { 
    color: #e67700;
    font-weight: bold;
}

a:hover {
    color: #D95E61;
    text-decoration: none;
}

.profile-pic {
    height: 250px;
    width: 250px;
}

.service-list {
    list-style-type: none;
}

.service-list img {
    height: 50px;
    width: 50px;
}

.service-list h5 a {
    color: #454867;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {

	h2, h3 {
        text-align: center;
    }

    .profile-pic-container {
        text-align: center;
    }
}