body {
    background-color: #fcfcfc;
    width: 100%;
}

h1 {
	font-size: 55px;
}

.row {
    padding: 0;
    margin: 0;
    border: none;
}

.banner {
    float: center;
    margin-top: 20px;
}

.banner img {
    height: 300px;
    width: 50%;
    margin-top: 20px;
}

.blogtext h1 {
    color: #383838;
    font-size: 31px;
    line-height: 29px;
}

.other-post-card h2 {
    margin-bottom: 30px;
}

.other-post-card h4 {
    margin-top: 20px;
}

.other-post-card img {
    height: 300px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.other-post-card a {
    font-weight: bold;
    color: #10a8ad;
}

.other-post-card a:hover {
    font-weight: bold;
    color: #D95E61;
    text-decoration: none;
}

.blog-content h2 {
    font-weight: 700;
    color: #353535;
    font-size: 32px;
}

.blogtext p {
    color: black;
    font-size: 23px;
    line-height: 47px;
    white-space: normal;
    padding-left: 25px;
    padding-right: 15px;
}

.blogtext li {
    color: black;
    font-size: 17px;
    line-height: 29px;
}

.blogtext {
    margin-top: -40px;
    background-color: #fcfcfc !important;
    width: 100%;
}

.blogtext a {
    font-weight: bold;
    color: #10a8ad;
}

.blogtext a:hover {
    font-weight: bold;
    color: #D95E61;
    text-decoration: none;
}

.jumbotron {
    background-color: #fff;
}

.heading h1 {
    color: #353535 !important;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 480px) {

    .heading h1 {
        padding-bottom: 60px;
        margin-top: 20px;
    }

    .banner img {
        width: 95% !important;
        height: 150px;
    }

    .blogtext p {
        width: 110%;
    }

    .other-post-card img {
        height: 200px;
    }

    .free-website-analysis-strip p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    .banner img {
        width: 80% !important;
        height: 300px;
    }

    .heading h1 {
        margin-top: 20px;
    }
    
    .blogtext p {
        padding-top: 30px;
    }
}