:root {
  --nav-footer-color: #454867;
  --nav-footer-text-color: white;
}

.row {
  margin:0;
  padding:0;
}

.logo {
  width: 90%;
  margin-top: -20px;
}

.navbar {
  border: none;
  height:auto;
  width: 100%;
  background-color: var(--nav-footer-color); 				  
}

.nav li {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none !important;
  letter-spacing: 1.5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
}	

.nav-item a {
	color: var(--nav-footer-text-color);
	font-weight: bold;
	font-size: 20px;
	margin: 15px;
}

.nav-item a:hover {
	border-bottom: 2px solid var(--nav-footer-text-color);
}

.navbar-toggle {
	  background-color: var(--nav-footer-text-color);
}

#footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: var(--nav-footer-color);
}

#footer a {
  color: var(--nav-footer-text-color);
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 70px;
  padding-right: 70px;
  font-weight: bold;
  letter-spacing: 1px; 
}

.copyright {
  color: var(--nav-footer-text-color);
  font-size: 14px;
  letter-spacing: 1px;  
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
  background-color: var(--nav-footer-color);
  margin-bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

  #footer-color a {
    padding-right: 5px;
    padding-left: 5px;
  }

  .copyright {
    font-size: 11px;
  }

@media only screen and (min-width : 480px) and (max-width : 1024px) {

  .navbar {
    background: rgba(69, 72, 103, 0.3);           
  }

  .nav li {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .logo {
    margin-top: -20px;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }	

  .navbar-header {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }

  #footer-color a {
    padding-right: 20px;
    padding-left: 20px;
  }

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1200px) and (orientation : landscape) {

  .nav li {	
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .logo {
    margin-top: -20px;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }	

  .navbar-header{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
    background-color:var(--nav-footer-text-color);
    margin-right: 0px;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
    overflow: visible !important;
  }

  .navbar-nav li {
    float: none !important;
    text-align:center;
  }

  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display:block !important;     
  }
}
}
}